<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("TweetApp", "/")%>
      </div>
      <ul class="header-menus">
      <% if session[:user_id] == nil %>
        <li>
        <%= link_to("About TweetApp", "/about")%>
        </li>
        <li>
        <%= link_to("CREATE USER", "/users/new")%>
        </li>
        <li>
        <%= link_to("LOGIN", "/users/login")%>
        </li>
      <% else %>
        <li>
        <%= link_to("POSTS", "/posts/index")%>
        </li>
        <li>
        <%= link_to("MY PAGE", "/users/mypage")%>
        </li>
        <li>
        <%= link_to("NEW POST", "/posts/new")%>
        </li>
        <li>
        <%= link_to("LOGOUT", "/users/logout")%>
        </li>
      <% end %>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
